.form-container {
  display: flex;
  justify-content: space-between; /* Optional, for spacing */
  align-items: flex-start;
  width: 100%;
  max-width: 1100px;
  margin: 2rem auto;
  gap: 4rem;

}

/* Error Messages */
.create-organization-form p {
  margin: 0;
  color: red;
  font-size: 0.9rem;
  text-align: center; /* Ensures error messages are centered */
  font-family: 'Montserrat', sans-serif;
}


/* Right column for form fields */
.form-fields {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* space between input fields */
  align-items: center; /* Centers all elements horizontally inside .form-fields */
  justify-content: center; /* Centers all elements vertically inside .form-fields */
  background-color: #e0e0e0;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 20px;
}

/* Individual form group */
.form-group {

  width: 90%;
}

/* Input fields styling */
.create-organization-form input {
  width: 100%;
  max-width: 500px;
  height: 2.5rem;
  padding: 0.5rem;
  border: 0px solid #ccc;
  border-bottom: 3px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.create-organization-form input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Responsive Design for smaller screens */
@media (max-width: 768px) {
  .form-container {

    align-items: center;
  }

  .form-fields {
    width: 100%;
  }
}

.form-fields button {
  width: auto; /* Or a specific width like 200px */
}

.createHeaders {
  padding-top: 150px;
  max-width: 450px;
  text-align: center;
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (max-width: 500px) {
  .createHeaders {
    padding-top: 0px;

  }
}