/* General Styles */
.generalPageDiv {
  padding: 20px;
  text-align: center;
}


.homepageHeader {
  font-size: 2.7rem;
  font-family: "Lobster", cursive;
  margin-bottom: 10px;
  word-spacing: 0.2em;
}

.homepageDescHeader {
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #555;
}

/* Recommended Title */
.recommendedDesc {
  font-size: 1.8rem;
  text-align: center;
  color: black;
  margin-bottom: 20px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {

  .recommendedDesc {
    font-size: 1.5rem;
  }


}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media (max-width: 480px) {
  .homepageHeader {
    font-size: 2rem;
    font-weight: bolder;
  }

  .homepageDescHeader {
    font-size: 1.1rem;
  }

  .recommendedDesc {
    font-size: 1.3rem;
  }



  .buttons {
  display: flex;
  flex-direction: column;
  }

  .recommendedList .listItemHeader, .recommendedList .listItemDesc {
    max-width: 260px;
  }
}

.homepageHeader {
  white-space: normal;
  word-wrap: break-word;
}

.homepageDescHeader {
  white-space: normal;
  word-wrap: break-word;
}
