@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');


.volInfo {
    background: linear-gradient(135deg, #ffffff, #f9f9f9); /* Matching gradient */
    padding: 20px;
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 0px;
}

.volInfoText {
    display: flex;
    flex-direction: column;
    width: fit-content;
    color: #333;
    margin-left: 20px;
}

.volInfoText h1 {
    font-size: 2.8rem;
    margin-bottom: 15px;
    color: #222;
}

.volInfoButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    font-weight: bold;
    color: #333;
    margin-left: auto;
}

.warnings {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.warning {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    background: rgba(255, 0, 0, 0.098);
    color: #800000;
    font-weight: bold;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    text-shadow:1px 1px 10px rgba(218, 0, 0, 0.6);
    transition: 1s
}

.warning:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(150, 0, 0, 0.4);
}

.volInfoButtons button {
    width: 50%;
    margin-top: 10px;
    padding: 12px 18px;
}

.react-tabs {
    margin-top: 20px;
    width: 100%;
}

.selectorsRow {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.selectorInRow {
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 20%;
}

.volunteers {
    background: linear-gradient(135deg, #ffffff, #f9f9f9);
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: #037b7b solid 2px;
}

.groupRow {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
    color: #333;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.groupHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.groupHeader button {
    height: 50%;
    background-color: #500606;
    color: white;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: #500606;
    border-radius: 10px;
    margin: 5px;
}

.groupHeader button:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.groupId {
    font-size: 2rem;
    margin: 10px 0;
    color: #222;
}

.volunteerData {
    font-size: 1.1rem;
    margin: 10px 30px 0;
    background: #ffffff;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    width: 95%;
}

.locationAssignment {
    background: #ffffff;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 10px;
    transition: max-height 0.1s ease-in-out 0s, padding 0.1s ease-in-out 0s;
}

.openLocationAssignment {
    padding: 10px;
    max-height: 500px;
}

.volunteerRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.scanButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    background: #fcfcfc;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.scanButtons button {
    margin: 5px;
}

.rangePanel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.restriction {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    padding: 10px;
    background: #ffffff;
    border: 2px solid #901010;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    align-items: center;
}

.restrictionData {
    font-weight: bold;
    margin: 5px 10px;
    width:100%;

}

.restriction button {
    background: linear-gradient(135deg, #901010, #700808);
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    height: fit-content;
}

.restriction button:hover {
    background: linear-gradient(135deg, #700808, #500606);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 500px) {
    .volunteerData {
        flex-direction: column;
    }
    .locationAssignment {
        flex-direction: column;
    }

    .locationOption {
        margin: 5px 0;
    }

    .volInfo {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .volInfoButtons {
        width: 100%;
        padding: 10px;
    }

    .volInfoButtons button {
        width: 100%;
        padding: 10px;
    }

    .volunteerUsername {
        font-size: 1rem;
        margin: 5px;
        padding: 8px;
    }

    .selectorInRow {
        width: 50%;
    }

    .scanButtons {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .innercalender {
        overflow-x: scroll;
    }
    .calender{
        width: 100%;
    }

    .manageVolunteersButtons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

.manageTab {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    margin-left: -40px;
}

.volunteersHeader {
    width: 100%;
    text-align: center;
}

.manageVolunteersActions, .groups {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.volunteers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.volunteeringActions { 
  width: 90%;
  margin: auto;
  height: 100%;
  margin-top: 30px;
  padding: 20px;
  text-align: center; /* Center text */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  gap: 10px;
}

.weekButtons {
    margin-top:20px;
    width:100%;
    display: flex;
    justify-content: space-between;
}

.rangeLabels {
    font-family: 'Montserrat', sans-serif;
    color:red;
}

.disabled {
    display: none;
}

.rs__control,
.rs__single-value,
.rs__menu,
.rs__option,
.rs__placeholder {
  font-family: 'Montserrat', sans-serif;
}

.maker {
    width: 100%;
    position: relative; 
    overflow: visible; 

}

.myLocation {
    font-size: 15px;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    border-color: #037b7bb5;
    border-width: 2px;
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #037b7bb5;
}

.selectedLocation {
    font-size: 15px;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    border-color: #7996a3;
    border-width: 2px;
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #7996a3;
}

.volunteeringButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

