.settings {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.container {
    /*background-color: #F0F0FF;
    width: 100%;
    align-items: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;*/
    width: 90%;
    margin: auto;
    height: 100%;
    margin-top: 30px;
    padding: 20px;
    text-align: center; /* Center text */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.locations {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: -10px;
}

.location {
    font-size: 15px;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    border-color: #959595;
    border-width: 2px;
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}


.disabledLocation {
    width: fit-content;
    padding: 20px;
}

.disabledLocation h2 {
    color: #500606;
    font-weight: bolder;
    font-size: 32px;
}

.location button {
    width: 100% !important;
}

.location p, .myLocation p, .selectedLocation p {
    margin-top: 0;
    margin-bottom: 0;
}

.container button {
    width: 20%;
    margin-top: 5px;
}

.container button:active {
    background-color: #a7a7a7;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 5px;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.modal form{
    display: flex;
    flex-direction: column;
}

.modal input{
    width: 50%;
}

.photos {
    display: flex;
    flex-direction: row;
}

.stringlist {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

.skillcateg {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.skillcateg button{
    width: 5%;
}

.skillcateg p{
    margin: 10px;
}

.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

.photo img{
    height: auto;
    width: 80%;
}

.xremove {
    color: white;
    background-color: rgb(133, 0, 0) !important;
    border-color: black !important;
}

.modal button{
    width: 80%;
    margin-top: 5px;
    align-self: center;
}

.codes {
    display: flex;
    flex-direction: row;
}

.code {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.code button{
    width: 100%;
}


.settingHeader {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  margin: 0;
  color: black;
  max-width: 800px;
  line-height: 1.4;
  font-weight: 300;
  border-bottom: 1px solid #555;
  margin-bottom: 10px;
}

.selectCode,
.selectCode * {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.create-location-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.editInput {
width: 80%;
  height: 2.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-bottom: 3px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}